<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
      <!-- <ion-button (click)="onMenuClick()">
        <span *ngIf="menuOpen">Close</span>
        <span *ngIf="!menuOpen">Open</span>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-segment (ionChange)="onFilter($event)">
          <ion-segment-button value="all" checked>All Places</ion-segment-button>
          <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bookablePlaces.length > 0">
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ bookablePlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ bookablePlaces[0].price | currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="bookablePlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ bookablePlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', bookablePlaces[0].id]"
              >Info</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!bookablePlaces || bookablePlaces.length === 0">
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <p>There are currently no bookable places.</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bookablePlaces.length > 0">
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item
            *ngFor="let place of bookablePlaces.slice(1)"
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
            detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
