<div class="image-picker">
  <div class="selected-image">
    <ion-img
      [src]="selectedImage"
      *ngIf="selectedImage && showPreview"
      class="picked-image"
      (click)="onPickImage()"
      role="button"
    ></ion-img>
  </div>
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Select Photo</ion-label>
  </ion-button>
</div>
<input
  type="file"
  accept="image/jpeg"
  #filePicker
  (change)="onFileUpload($event)"
  *ngIf="useFilePicker"
/>
